.paginado {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.paginado button {
  border: none;
  outline: none;
  background: #330057fd;
  color: #dda0dd;
  margin: 5px;
  font-size: 1rem;
}
